h1 {
  max-width: 55%;
  padding-top: 20px;
}

.banner_container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 1.5rem;
  padding-top: 3.75rem;
}

.paragraph_interest {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 950px) {
  .banner_container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 425px) {
    #banner_img {
        padding-top: 2.5rem;
    }

    h1 {
        min-width: 100%;
      }
}