.title {
    font-family: var(--font-family);
    font-weight: 800;
}

.title.sm {
    font-size: 1.375rem
}

.title.md {
    font-size: clamp(2.25rem, 2.071rem + 0.476vw, 2.5rem);
}

.title.lg {
    font-size: clamp(2.625rem, 2.357rem + 0.714vw, 3rem);
}

/* .paragraph_blue {
    color: var(--color-primary);
} */