
@media (max-width: 320px) {
  .projectItem_list h3 {
    max-width: 40%;
  }

  .projectItem {
    padding-left: 1.5rem;
  }
}

@media (min-width: 950px) {
  .projectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0rem 1rem;
  }

  .projectItem_list {
    padding-left: 2.5rem;
  }
}
