.technologies_section_list > li {
  padding-left: 2.5rem;
  border: 1px solid var(--color-white);
  border-radius: 1.5625rem;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

@media (min-width: 950px) {
  .technologies_section_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem 1rem;
  }

  .technologies_section_list > li {

  margin-top: 0;
}
}